:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-left:  55px;
  margin-right: 55px;
  max-width: 1400px;
}


a {
  text-decoration: none;
  color: black;
}

nav {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 61.09px;
  height: 19px;
  margin-top: 44px;
}

#container_nav {
  width: 30%;
  display: flex;
}

.container_nav_barre1:hover {
  border-top: #0065FC 5px solid;
}

.container_nav_barre2:hover {
  border-top: #0065FC 5px solid;
}

.container_nav_barre1 {
  display: flex;
  width: 50%;
  align-items: end;
  justify-content: center;
} 

.container_nav_barre2 {
  display: flex;
  width: 50%;
  align-items: end;
  justify-content: center;
}

.link {
  margin-top: 42px;
}

.link:hover {
  color: #0065FC;
}



h1 {
  font-size: 22px;
  margin-top: 80px;
}

p {
  font-size: 16px;
}



#research {
  display: flex;
  height: 45px;
  margin-top: 20px;
}

#research_input {
  font-weight: 700;
  border: 1px solid #F2F2F2;
  width: 200px;
}

.research_input text{
  color: black
}

::placeholder {
  color: black;
}

input {
  outline: none;
}

#button_research {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  width: 132px;
}
/*icône loupe cachée sur deskop*/
#research_button_phone {
  display: none;
}

#icon {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0 0 15px;
  background-color: #F2F2F2;
}



.searchfilters {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-top: 45px;
}

.searchfilters i {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  min-width: 25px;
  margin-right: 15px;
  margin-left: 15px; 
  color: #0065FC;
  font-size: 16.26px;
}

.searchfilters div{
  display: flex;
  align-items: center;
  margin-left: 25px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  margin-bottom: 15px;
  transition-duration: 0.1s;
  cursor: pointer;
  font-weight: bold;
  padding-right: 15px;
}

.searchfilters div:hover {
  background-color: #DEEBFF;
}



.info{
  margin-top: 20px;
}

.fa-solid.fa-info {
  color: #0065FC;
  border-radius: 50px;
  border: solid 2px #D9D9D9;
  margin-right: 8px;
  padding: 7px 10px 7px 10px;
  font-size: 16.26px;
}
/*réinitialisation valeur par défaut*/
.info p{
  display: initial; 
}



.section_content {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  width: 100%;
}

.hebergement_title {
  margin-left: 40px;
  padding-top: 20px;
}

.section_hebergement {
  width: 64%;
  border-radius: 20px;
  background: #F2F2F2;
}

#hebergement {
  width: 90%;
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_hebergement {
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 25px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card_hebergement img{
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}


#hebergement a{
  display: contents;
}

.cardheb_info {
  margin: 5px;
  color: black;
}

.cardheb_info h3{
  font-size: 15px;
  margin: 0px;
  font-weight: bold;
}

.cardheb_info p{
  font-size: 12px;
  margin: 3px 0px 3px 0px;
}

.star {
  color: #0065FC;
  font-size: small;
}

.star_grey {
  color: #F2F2F2;
  fill: currentColor;
}

.afficher {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-left: 40px;
}



.populaire {
  display: flex;
  flex-direction: column;
}

#info_populaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6% 6% 0% 6%;
}

.populaire_title h2{
  font-size: 18px;
}

.fa-solid.fa-chart-line {
  color:#0065FC;
  font-size: 20px;
  font-weight: 700;
}

.section_populaire {
  width: 33%;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.cardpop {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  height: 140px;
  padding: 5px;
  margin: 0px 35px 25px 35px;
}

.cardpop img {
  width: 35%;
  object-fit: cover;
  display: inline;
  border-radius: 20px 0 0 20px;
}

.cardpop_info {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  font-size: 13px;
}

.cardpop_info p{
  display: flex;
  font-size: 12px;
  margin-top: 0px;
}

.star_populaire {
  position: sticky;
  top: 100%;
  margin-bottom: 10px;
}



.activite-marseille {
font-size: 22px;
font-weight: 700;
}

.activite-list {
display: flex;
justify-content: space-between;
font-size: small;
}

.activite h2 {
margin-left: 0px;
margin-top: 40px;
}

.activite-list .card_act {
width: 23%;
display: flex;
flex-direction: column;
justify-content: space-between;
border-radius: 20px;
}

.activite-list .card_act article img {
width: 100%;
height: calc(100% - 50px);
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}

.activite-list .card_act article {
height: 100%;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
border-radius: 20px;
}

.activite-list .card_act article h3 {
padding: 10px 0px 0px 10px;
margin: 0px;
font-size: 14px;
}



.footer {
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 50px;
}

.footerbooki{
  display: flex;
  margin: auto;
  padding: 0px 25px;   
  box-sizing: border-box;
}

.footercolonne{
  padding: 20px 15px;
  flex: auto;
}

.footer ul {
  display: block;
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  margin-bottom: 8px;
}

@media screen and (max-width: 991px)

{
  body {
    max-width: 991px;
    margin: 0 auto;
    padding: 0 5% 0 5%;
  }


  .section_content {
    flex-direction: column;
  }


  .searchfilters {
    flex-wrap: nowrap;
    font-size: 12px;
    margin-top: 30px;
  }
  .searchfilters div {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-right: 0px;
    height: 40px;
  }
  .searchfilters i {
    margin-left: 7px;
    margin-right: 2px;
    font-size: 14px;
  }


  .section_hebergement {
    width: 100%;
    margin-bottom: 30px;
  }


  .section_populaire {
    width: auto;
    padding: 0px 30px 20px 20px;
  }
  .populaire {
    flex-direction: row;
    justify-content: space-between;
  }
  .populaire a {
    width: 31%;
   }
  #info_populaire {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 10px;
  }
  .cardpop {
    margin: 0px;
  }
  .cardpop img {
    width: 35%;
  }
  .cardpop_info h3 {
    margin-top: 10px;
    margin-bottom: 0%;
  }
  .cardpop_info p { 
    margin-top: 10px;
  }


  .activite-list .card_act {
    width: 21%;
    height:250px;
  }
	.card_act h3 {
		font-size: 12px;
	}
}


@media screen and (max-width: 767px)

{
  body {
    max-width: 767px;
    margin: 0px;
    padding: 0px;
  }


  nav {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #logo {
    width: 129px;
    margin-left: 11%;
  }
  nav a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #container_nav{
    width: 100%;
    height: 100%;
  }
  .container_nav_barre1 {
    border-bottom: 3px solid #F2F2F2;
  }
  .container_nav_barre2 {
    border-bottom: 3px solid #F2F2F2;
  }
  .container_nav_barre1:hover{
    border-bottom: #0065FC 3px solid;
    border-top: none;
  }
  .container_nav_barre2:hover{
    border-bottom: #0065FC 3px solid;
    border-top: none;
  }
  .link{
    margin-bottom: 12px;
  }


  .section_top {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
  }

  #main_top {
    width: 100%;
    margin-top: 45px;
  }
  h1 {
    font-size: 20px;
    font-weight: 700;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  #main_top p {
    font-size: 14px;
  }


  #research {
    width: 100%;
  }
  #research_input {
    width: 70%;  
  }
  #button_research {
    display: none;
  }
  /*icône loupe cachée sur deskop*/
  #research_button_phone {
    background-color: #0065FC;
    color: white;
    width: 15%;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #icon {
    width: 15%;
  }
  .fa-solid.fa-location-dot {
    font-size: 25px;
  }


  .searchfilters {
    width: 100%;
    margin-top: 20px;
    font-size: 11px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .searchfilters h2 {
    width: 100%;
  }
  .searchfilters i {
    margin-right: 3px;
    margin-left: 5px;
  }
  .searchfilters div{
    width: 47%;
    margin-left: 0px;
    margin-bottom: 15px;
  }


  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .section_content {
    flex-direction: column-reverse;
  }


  .section_populaire {
    border-radius: 0px;
    padding: 12px 12px 30px 12px;
  }
  .populaire {
    flex-direction: column;
  }
  .populaire a {
    width: 100%;
  }
  .cardpop {
    width: 95%;
    margin: 0px 0px 10px 0px;
  }
  .populaire_title {
    font-size: 20px;
  }


  .section_hebergement {
    width: 100%;
    border-radius: 0px;
    background-color: #FFFFFF;
  }
  #hebergement {
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
    margin: 0px;
    padding: 12px;
  }
  .card_hebergement {
    width: 95%;
    height: 180px;
  }
  .card_hebergement img {
    height: 110px;
  }
  .hebergement_title {
    font-size: 20px;
    margin: 10px 10px 10px 20px;
  }


  /*afficher plus_caché sur mobile*/ 
  .afficher {
    display: none;
  }


  .activite {
    padding: 0px 13px 4px 13px;
  }
  .activite-list {
    flex-direction: column;
  }
  .activite-list .card_act {
    width: 97%;
    height: 185px;
    padding-bottom: 15px;
  }
  .activite h2 {
    font-size: 20px;
    margin: 15px 150px 0px 0px;
  }


  .footerbooki {
    flex-direction: column;
  }

  .footercolonne {
    padding: 5px 5px;
  }
}

