:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;

}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-left:  55px;
  margin-right: 55px;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: black;
}
nav {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container_nav {
  width: 30%;
  display: flex;
}
.logo {
  width: 61.09px;
  height: 19px;
  margin-top: 44px;
}
.container_nav_barre1:hover {
  border-top: #0065FC 5px solid;
}

.container_nav_barre2:hover {
  border-top: #0065FC 5px solid;
}
.link {
  margin-top: 42px;
}
.link:hover {
  color: #0065FC;
}

.container_nav_barre1 {
  display: flex;
  width: 50%;
  align-items: end;
  justify-content: center;
} 
.container_nav_barre2 {
  display: flex;
  width: 50%;
  align-items: end;
  justify-content: center;
}
 
h1 {
  font-size: 22px;
  margin-top: 80px;
}

p {
  font-size: 16px;
}

#research {
  display: flex;
  height: 45px;
  margin-top: 20px;
}
#research_input {
  font-weight: 700;
  border: 1px;
  border-color: #D9D9D9;
  width: 200px;
  
}
.research_input text{
  color: black
}
#button_research {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  width: 132px;
}
/*icône loupe cachée sur deskop*/
#research_button_phone {
  display: none;
}

#icon {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D9D9;
  border-radius: 15px 0 0 15px;
  background-color: #F2F2F2;
}


.searchFilters {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-top: 45px;
}
.searchFilters i {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  min-width: 25px;
  margin-right: 15px;
  margin-left: 15px; 
  color: #0065FC;
  font-size: 16.26px;
}
.searchFilters div{
  display: flex;
  align-items: center;
  margin-left: 25px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  margin-bottom: 15px;
  transition-duration: 0.1s;
  cursor: pointer;
  font-weight: bold;
  padding-right: 15px;
}


.searchFilters div:hover {
  background-color: #DEEBFF;
}


.info{
  margin-top: 2%;
}
.fa-solid.fa-info {
  color: #0065FC;
  border-radius: 50px;
  border: solid 2px #D9D9D9;
  margin-right: 8px;
  padding: 7px 10px 7px 10px;
  font-size: 16.26px;
}
/*réinitialisation valeur par défaut*/
.info p{
  display: initial; 
}

.section_content {
  display: flex;
  padding-top: 3%;
  justify-content: space-between;
  width: 100%;
  height: 650px;
}

.hebergement_title {
  margin-left: 5%;
  padding-top: 3%;
}

.section_hebergement {
  width: 64%;
  height: 650px;
  border-radius: 20px;
  background: #F2F2F2;
}
#hebergement {
  width: 90%;
  height: 430px;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_hebergement {
  background-color: #FFFFFF;
  padding: 0.7%;
  margin-bottom: 4%;
  height: 200px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card_hebergement img{
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#hebergement a{
  display: contents;
}

.cardheb_info {
  padding-left: 4%;
  color: black;
}

.cardheb_info h3{
  font-size: 15px;
  margin: 0%;
  font-weight: bold;
}

.cardheb_info p{
  font-size: 12px;
}

.star {
  color: #0065FC;
  font-size: small;
}

.star_grey {
  color: #F2F2F2;
  fill: currentColor;
}

.afficher {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-top: 7%;
  margin-left: 5%;
}

.populaire {
  display: flex;
  flex-direction: column;
}

#info_populaire {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 6%;
}

.populaire_title h2{
  font-size: 18px;
}

.fa-solid.fa-chart-line {
  color:#0065FC;
  font-size: 20px;
  font-weight: 700;
}

.section_populaire {
  width: 33%;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.cardpop {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  height: 140px;
  padding: 1.5%;
  margin: 0% 6% 6%;
}

.cardpop img {
  width: 35%;
  object-fit: cover;
  display: inline;
  border-radius: 20px 0 0 20px;
}

.cardpop_info {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  font-size: 13px;
}

.cardpop_info p{
  display: flex;
  font-size: 12px;
  margin-top: 0;
}

.star_populaire {
  position: sticky;
  top: 100%;
}


.activite {
  margin-top: 4%;
}

.activite-marseille {
font-size: 22px;
font-weight: 700;
}

.activite-list {
display: flex;
justify-content: space-between;
font-size: small;
}

.activite h2{
margin-left: 0px;
margin-top: 5%;
}

.activite-list .card_act {
width: 23%;
display: flex;
flex-direction: column;
justify-content: space-between;
border-radius: 20px;
}

.activite-list .card_act article img {
width: 100%;
height: calc(100% - 50px);
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}

.activite-list .card_act article {
height: 100%;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}

.activite-list .card_act article h3 {
padding: 5%;
margin: 0px;
display: flex;
align-items: center;
}



.footer {
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 4%;
}

.footerbooki{
  display: flex;
  margin: auto;
  padding: 0 25px;   
  box-sizing: border-box;
}

.footercolonne{
  padding: 20px 15px;
  flex: auto;
}

.footer ul {
  display: block;
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 8px;
}


@media screen and (max-width: 992px)
 
{
  body {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 5% 0 5%;
  }


  .section_content {
    flex-direction: column;
  }

  .section_heb_pop {
    width: auto;
    margin-bottom: 50px;
		margin:0 0% 3% 0%;
		justify-content: space-between;
  }

  .section_hebergement {
    width: 100%;
    margin-bottom: 5%;
  }

/*populaire*/

  .section_populaire {
  width: auto;
  padding: 0% 6% 4% 4%;
  }

  .populaire {
    flex-direction: row;
    justify-content: space-between;
  }
  
  #info_populaire {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
  margin-left: 2%
  }

  .cardpop {
    width: 205px;
  }

  .cardpop img {
    width: 35%;
  }

  .cardpop_info h3 {
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .cardpop_info p { 
    margin-top: 5%;
  }

  
/*activites*/

  .activite {
    padding-top: 27%;
  }

  .activite-list .card_act {
    width: 21%;
    height:250px;
  }

	.card_act h3 {
		font-size: 12px;
	}
}


@media screen and (max-width: 768px)

{
body {
  max-width: 768px;
  margin: 0px;
  padding: 0px;
}

#logo {
  width: 129px;
  margin-left: 11%;
}

nav {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

nav a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_nav_barre1:hover{
  border-bottom: #0065FC 3px solid;
  border-top: none;
}
      
.container_nav_barre2:hover{
  border-bottom: #0065FC 3px solid;
  border-top: none;
}
.link{
  margin-bottom: 12px;
}

#container_nav{
  width: 100%;
  height: 100%;
}

h1 {
 font-size: 22px;
 font-weight: 700;
 margin-block-start: 0;
 margin-block-end: 0;
 margin-right: 25px;
}


#main_top {
  width: 100%;
  margin-top: 20%;
}

.main_top p {
 margin-top: 10%;
}


#research {
  height: 55px;
  width: 95%;
}
#research_input {
  width: 70%;  
}

#button_research {
  display: none;
}
/*icône loupe cachée sur deskop*/
#research_button_phone {
  background-color: #0065FC;
  color: white;
  width: 15%;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#icon {
  width: 15%;
}

.fa-solid.fa-location-dot {
  font-size: 25px;
}

.searchFilters {
  margin-top: 6%;
  font-size: 11px;
}

.searchFilters h2 {
  width: 100%;
}

.searchFilters i {
  margin-right: 3px;
  margin-left: 5px;
}
.searchFilters div{
  width: 46%;
  margin-right: auto;
  margin-left: 0px;
  padding-right: 0px;
}

.info {

}

.fa-solid.fa-info{

}

.info p {

}

.section_top {
  display: flex;
  flex-wrap: wrap;
  margin-right: 6%;
  margin-left: 6%;
}


.section_content {
  flex-direction: column-reverse;
  height: 100%;
  margin-top: 8%;
}

.section_populaire {
  border-radius: 0px;
  padding: 3%;
}

.populaire {
  flex-direction: column;
}

.cardpop {
  width: 95%;
  margin: 0 0 10px 0;
}

.populaire_title {
  font-size: 20px;
}


.section_hebergement {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background-color: #FFFFFF;
}

#hebergement {
  flex-wrap: nowrap;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 3%;
  
}

.card_hebergement {
  width: 95%;
  height: 180px;
}

.card_hebergement img {
  height: 110px;
}

.hebergement_title {
  font-size: 20px;
}

/*afficher plus_caché sur mobile*/ 
.afficher {
  display: none;
}


.activite {
  padding: 0 5% 4% 4%;
}

.activite-list {
  flex-direction: column;
}

.activite-list .card_act {
  width: 97%;
  height: 185px;
  padding-bottom: 6%;
}

.activite h2 {
  font-size: 18px;
  display: flex;
}

.activite-list .card_act article h3 {
  font-size: 14px;
}



.footerbooki {
  flex-direction: column;
}

.footercolonne {
  padding: 10px 10px;
}

}

