:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;

}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-left:  55px;
  margin-right: 55px;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: black;
}
nav {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container_nav {
  width: 30%;
  display: flex;
}
.logo {
  width: 61.09px;
  height: 19px;
  margin-top: 44px;
}
.container_nav_barre1:hover {
  border-top: #0065FC 2px solid;
}
.container_nav_barre2:hover {
  border-top: #0065FC 2px solid;
}
.link {
  margin-top: 42px;
}
.container_nav_barre1 {
  display: flex;
  width: 50%;
  align-items: end;
  justify-content: center;
} 
.container_nav_barre2 {
  display: flex;
  width: 50%;
  align-items: end;
  justify-content: center;
}
 
h1 {
  font-size: 22px;
  margin-top: 80px;
  height: 26px;
}

p {
  font-size: 16px;
}

#research {
  display: flex;
  height: 45px;
  margin-top: 20px;
}
#research_input {
  font-weight: 700;
  border: 2px;
  border-color: #D9D9D9;
  height: 49px;
  width: 200px;
  border-radius: 15px;
}
#button_research {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px;
  width: 132px;
}
/*icône loupe cachée sur deskop*/
#research_button_phone {
  display: none;
}

#icon {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D9D9D9;
  border-radius: 15px 0 0 15px;
  background-color: #F2F2F2;
}


.searchFilters {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-top: 45px;
}
.searchFilters i {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  min-width: 25px;
  margin-right: 15px;
  margin-left: 15px; 
  color: #0065FC;
  font-size: 16.26px;
}
.searchFilters div{
  display: flex;
  align-items: center;
  margin-left: 25px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  margin-bottom: 15px;
  transition-duration: 0.1s;
  cursor: pointer;
  font-weight: bold;
  padding-right: 15px;
}
.searchFilters div:hover {
  background-color: #DEEBFF;
}


.fas.fa-info {
  color: #0065FC;
  border-radius: 50px;
  border: solid 2px #D9D9D9;
  margin-right: 8px;
  padding: 7px 10px 7px 10px;
  font-size: 16.26px;
}
/*réinitialisation valeur par défaut*/
.info p{
  display: initial; 
}

.section_content {
  display: flex;
  padding-top: 3%;
  justify-content: space-between;
  width: 100%;
}

.title_section_h2{
  margin-left: 5%;
  padding-top: 3%;
}

#section_1_hebergement {
  width: 90%;
  height: 430px;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section_1_part1 {
  width: 68%;
  height: 650px;
  border-radius: 25px;
  background: #F2F2F2;
}

.hebergement_section1 {
  background-color: #FFFFFF;
  padding: 0.7%;
  margin-bottom: 4%;
  height: 200px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  display: inline;
}

.hebergement_section1 img{
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

#section_1_hebergement a{
  display: contents;
}

.section1_text {
  padding-left: 4%;
  color: black;
}

.section1_text h3{
  font-size: 15px;
  margin-top: 0%;
  font-weight: bold;
}

.section1_text p{
  margin-left: 1px;
  font-size: 12px;
}

.star {
  color: #0065FC;
  font-size: small;
}

.star_grey {
  color: #F2F2F2;
  fill: currentColor;
}

.afficher {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-left: 5%;
}


#section_populaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_populaire_title {
  margin-left: 12px;
  margin-top: 30px;
}

.fas.fa-chart-line {
  color:#0065FC;
  margin-right: 5%;
  margin-top: 6%;
}

.populaire {
  width: 29%;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 0 10px 0;
  height: 650px;
}

.card {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  height: 134px;
  padding: 1%;
  margin: 20px;
}

.card img {
  width: 40%;
  height: 131px;
  object-fit: cover;
  display: inline;
  border-radius: 20px 0 0 20px;
}

.card_info {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  font-size: 13px;
}


.activite {
  margin-top: 4%;
}

.activite-marseille {
font-size: 22px;
font-weight: 700;
}

.activite-list {
display: flex;
justify-content: space-between;
height: 407px;
font-size: small;
}

.activite h2{
margin-left: 0px;
margin-top: 5%;
}

.activite-list .column {
width: 23%;
display: flex;
flex-direction: column;
justify-content: space-between;
border-radius: 20px;
}

.activite-list .column article img {
width: 100%;
height: calc(100% - 50px);
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}

.activite-list .column article {
height: 100%;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}

.activite-list .column article h3 {
padding: 21px;
margin: 0px;
}




